    <div class="gallery">
        <a href="img/g1.jpg" class="img-gal-1"><img class="img-fluid" src="../../assets/img/g1.jpg" alt=""></a>
        <a href="img/g4.jpg" class="img-gal-2"><img class="img-fluid" src="../../assets/img/g4.jpg" alt=""></a>
        <a href="img/g1.jpg" class="img-gal-3"><img class="img-fluid" src="../../assets/img/g1.jpg" alt=""></a>
        <a href="img/g4.jpg" class="img-gal-4"><img class="img-fluid" src="../../assets/img/g4.jpg" alt=""></a>							
        <a href="img/g2.jpg" class="img-gal-5"><img class="img-fluid" src="../../assets/img/g2.jpg" alt=""></a>
        <a href="img/g5.jpg" class="img-gal-6"><img class="img-fluid" src="../../assets/img/g5.jpg" alt=""></a>
    </div>

